#top_nav_bar{
background-color: #333;
width:100vw;
height:10vh;
position: fixed;
}|


#container{
display:flex;

}
#left_nav{
width:10vw;
height:100vh;
background-color: #333;
}

#change_section{
width:90vw;
height:100vh;
}

img{
width:90vw;
height:100vh;
}
ul {
  list-style-type: none;
  margin:0px;
  padding: 20;
  background-color: #333;
position: fixed;
  top: 0;
}
#left_ul_navigation{
 display: flex;
  flex-direction: column;
width:10vw;
  top:100;
padding:0;
position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}